@page
@model PES.UI.Pages.Authen.ChangePasswordModel
@{
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8e2;
        margin: 0;
        padding: 0;
    }

    .change-password-container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

        .change-password-container img.organic-logo {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }

        .change-password-container h2 {
            color: #2d3436;
            margin-bottom: 20px;
        }

        .change-password-container p {
            color: #636e72;
            margin-bottom: 30px;
        }

        .change-password-container .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .change-password-container .btn {
            background-color: #28a745;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .change-password-container .btn:hover {
                background-color: #218838;
            }

        .change-password-container .back-to-login {
            display: block;
            margin-top: 20px;
            color: #28a745;
            text-decoration: none;
        }

            .change-password-container .back-to-login:hover {
                text-decoration: underline;
            }
</style>
<body>
    <div class="change-password-container">
        <img src="~/image/organic-logo.png" class="organic-logo" alt="Organic Store Logo">
        <h2>Reset Password</h2>
        <p>Enter otp and reset your password.</p>
        <form asp-page="/Authen/ChangePassword" asp-page-handler="resetpassword"  method="POST">
            <div class="mb-3">
                <input type="number" class="form-control" placeholder="OTP" name="otp" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="New Password" name="password" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmpassword" required>
            </div>
            <button type="submit" class="btn">Reset Password</button>
        </form>
        <a href="/login" class="back-to-login"><i class="fas fa-arrow-left"></i> Back to Login</a>
    </div>
</body>